.container{
    padding: 1rem;
    border-radius: 0.05rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid grey;
    text-decoration: none;
    text-underline-offset: none;
    width: 550px;
    margin: auto;
    font-weight: bold;

}
.container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}